h2 {
    text-align: center;
    font-size: 1.5em;
    color: var(--color-dark-blue);
    margin: 15px 0;
}

h3 {
    text-align: center;
    font-size: 1em;
    color: var(--color-light-blue);
    margin: 5px 0;
}